<div class="home">

    <div class="welcome-section">
        <div class="content">
            <img src="assets/tf-nobckgr-icon.png" alt="Tabafest Logo" class="logo" style="height: 350px !important;">
            <p>Трећи по реду фестивал</p>
            <p>јаких егзибиција</p>
        </div>
        <div class="content">
            <p>Вртимо се на лактови</p>
            <h1>09.08.2025.</h1>
            <p>Алимпијска 40</p>
            <p>Табановац</p>
            <p>од 20 часова!</p>
        </div>

        <div class="content">
            <h1>Улаз је могућ само уз е-позивницу!</h1>
        </div>
    </div>




</div>