<div class="container">

    <section class="one">
        <img src="assets/party-story.png" alt="IG Story" class="story-image" />
    </section>

    <section class="two">
        <div class="part-div" style="font-size: 30pt;">
            <p id="laktovi">Вртимо се на лактови</p>
        </div>

        <div class="part-div date-and-place" style="margin-bottom: 100px;  font-size: 50pt;">
            <h1>09.08.2025.</h1>
            <p>Алимпијска 40</p>
            <p>Табановац</p>
            <p>од 20 часова!</p>
        </div>

        <div class="part-div" id="budi-human" style="margin-bottom: 80px;">
            <p>Јака егзибиција хуманитарног карактера,
            <p>новац сакупљен током журке донирамо</p>
            <p>лечењу превремено рођене деце преко</p>
            <p>фондације БудиХуман</p>
        </div>

    </section>

    <section class="three" style="font-size: 30pt;">
        <div class="part-div" style="font-size: 20pt;">
            <h2>Асортиман пића:</h2>
            <ul class="no-bullets">
                <li>Крафт пиво: Дрипац Министарство
                </li>
                <li>Ракија: Сува шљива
                </li>
                <li>Лименка: Хајнекен
                </li>
                <li>Флаширано: Зајечарско и Нишко
                </li>
                <li>Жестина: Џин тоник и коктели</li>
            </ul>


        </div>
        <div class="part-div" style="font-size: 20pt; margin-bottom: 100px;">
            <h2>Сатница:</h2>
            <ul class="no-bullets">
                <li>19ч окупљање и загревање</li>
                <li>20ч Маин стаге ДЈ Гоша</li>
                <li>21ч креће са радом точилица</li>
                <li>23ч ватромет</li>
                <li>*музика и купање до фајронта*</li>
                <li>~03ч расклањамо смеће</li>
                <li>10ч доручак гибаница</li>
                <li>11ч дневно купање</li>
            </ul>
        </div>
    </section>

    <section class="four">
        <div class="part-div" style="font-size: 40pt;">
            <h1 style="color: red;" id="important">ВАЖНО:</h1>
            <ul style="list-style: none;">
                <li>
                    <p>1. Улаз на журку је могућ ИСКЉУЧИВО</p>
                    <p>уз претходно одобрење Милоша, Николе
                    <p>или Димитрија</p>
                </li>
                <li>
                    <p>2. Без наркотика, скуп је пријављен</p>
                </li>
                <li>
                    <p>3. Опрезно са скакањем у базен када је</p>
                    <p> у њему више купача</p>
                </li>
                <li>
                    <p>4. У случају да дођете пре планиране сатнице</p>
                    <p> полако са алкохолом препрошле године </p>
                    <p>сте ми препили пре журке</p>
                </li>
                <li>
                    <p>5. Понесите лепо расположење и који динар</p>
                    <p>за донацију</p>
                </li>
            </ul>
        </div>


    </section>
</div>